.Transactions {
    width: 500px;
    margin: auto;
  
    display: flex;
    flex-direction: column;
}

thead th {
    border: 5px solid black;
    font-size: small;
}

.Transactions h4 {
    padding: 10px;
}

th {
    padding: 5px;
}